#curso.img-fluid:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  max-width: 800px;
}
@mixin cursos {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1rem;
  display: block;
  margin: 0px;
  padding: 50px;
}

.curso_1 {
  color: #f5f9f9;
  width: 800px;
  height: 50px;
  margin: 0px;
  margin-left: 10px;
  background-color: #658f99;
  border-color: #d0d0d0;
  border-style: double;
  font-size: 25px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.curso_2 {
  color: #e3e3e3;
  background-color: #074d5d;
  width: 400px;
  height: 80px;
  margin: 20px;
  margin-left: 10px;
  text-align: center;
  font-size: 25px;
  border-color: #d6a3bc;
}

.cursos p {
  color: #cdcfce;
  background-color: #8f4848;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-color: #d0d0d0;
  border-style: double;
}
